<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ site_name }}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Mark Hillebert">

        {% block stylesheets %}{% endblock %}
{#         Bootstrap core CSS #}
        <link href="{{ asset('bundles/markeddownblog/themes/basic/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
{#         Custom fonts for this template #}
        <link href="{{ asset('bundles/markeddownblog/themes/basic/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
{#        Custom styles for this template #}
        <link href="{{ asset('bundles/markeddownblog/themes/basic/css/simple.css') }}" rel="stylesheet">
    </head>
    <body {% block body_attrs %}{% endblock %}>
        {% block navigation %}

        {% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}
            {% include '@MarkedDownBlog/basic/partial/footer.html.twig' %}
        {% endblock %}

        {% block javascripts %}
{#             Bootstrap core JavaScript #}
            <script src="{{ asset('bundles/markeddownblog/themes/basic/vendor/jquery/jquery.min.js')}}"></script>
            <script src="{{ asset('bundles/markeddownblog/themes/basic/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

{#             Custom scripts for this template #}
        {% endblock %}
    </body>
</html>
