{% extends('@MarkedDownBlog/basic/base.html.twig') %}
{% block body_attrs %}id='home'{% endblock %}
{% block content %}
    <header id="masthead" class="masthead" style="background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url({{ asset('bundles/markeddownblog/themes/basic/img/crumpled_paper.jpg')}})">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-10 mx-auto">
                    <div class="site-heading">

                        <h1>{{ site_name }}</h1>
                        <h2 class="subheading">{{ site_tagline }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-10 mx-auto">
                {% for post in posts %}
                <div class="post-preview">
                    {% if post.metadata.url %}
                    <a href="{{ post.metadata.url }}">
                        <h2 class="post-title">{{ post.metadata.title|default("") }}</h2>
                        {% if post.metadata.description is defined%}<h3 class="post-subtitle">{{ post.metadata.description }}</h3>{% endif %}
                    </a>
                    {% else %}
                        <h2 class="post-title">{{ post.metadata.title }}</h2>
                        {% if post.metadata.description is defined %}<h3 class="post-subtitle">{{ post.metadata.description }}</h3>{% endif %}
                    {% endif %}
                    <p class="post-meta">Published
                    {% if post.metadata.author is defined %} by <a href="#">{{ post.metadata.author }}</a> {% endif %}
                        {% if post.metadata.date is defined %}on {{ post.metadata.date | date(date_format) }}{% endif %}
                    </p>
                </div>
                {% endfor %}
                {% if posts|length == 0 %}
                    <p><i class="fa fa-bullhorn"></i> We're in the process of writing some exiting new content! Check back soon.</p>
                {% endif %}
                <hr>
                <!-- Pager -->
                <div class="clearfix">
                    {% if previous_page %}<a class="btn btn-primary float-left" href="{{ web_root }}/page/{{ previous_page }}">&larr; Newer Posts</a>{% endif %}
                    {% if next_page %}<a class="btn btn-primary float-right" href="{{ web_root }}/page/{{ next_page }}">Older Posts &rarr;</a>{% endif %}
                </div>
            </div>
        </div>
    </div>

    <hr>
{% endblock %}

