{% extends('@MarkedDownBlog/basic/base.html.twig') %}
{% block title %}{{ parent() }} - {{ post.title }}{% endblock title %}
{% block body_attrs %}id='post'{% endblock %}
{% block content %}
{#     Page Header #}
    <header id="masthead" class="masthead"">

        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-10 mx-auto">
                    <div class="post-heading">
                        <div>
                            <h1>{{ post.title|default("") }}</h1>
                            <h2 class="subheading">{{ post.description|default("") }}</h2>
                            <span class="meta">Posted
                            {% if post.author is defined %} by <a href="#">{{ post.author }}</a> {% endif %}on {{ post.date | date(date_format) }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

{#     Post Content #}
    <article>
        <div class="container">
            <div class="row">
                <div id="post-content" class="col-lg-9 col-md-10 mx-auto">
                    {{ post.markdown|markdown_to_html }}
                </div>
            </div>
        </div>
    </article>
    <hr>
{#    <!-- Return -->#}
    <div class="clearfix controls">
        <a class="btn btn-primary" onclick="window.history.go(-1); return false;" href="#">&larr; Return</a>
    </div>
{% endblock %}