<!-- Footer -->
{% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    {% if social %}
                        <ul class="list-inline text-center">
                            {% for service, link in social %}
                                <li class="list-inline-item">
                                    {% if service == 'facebook' %}
                                        <a href="{{ link }}"><span class="fa-stack fa-lg"><i class="fas fa-circle fa-stack-2x"></i><i class="fab fa-{{ service }}-f fa-stack-1x fa-inverse"></i></span></a>
                                    {% else %}
                                        <a href="{{ link }}"><span class="fa-stack fa-lg"><i class="fas fa-circle fa-stack-2x"></i><i class="fab fa-{{ service }} fa-stack-1x fa-inverse"></i></span></a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <p class="copyright text-muted">Copyright &copy; {{ site_name}} {{ 'now' | date('Y') }}</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock footer %}