/*!
 * Start Bootstrap - Clean Blog v5.0.9 (https://startbootstrap.com/themes/clean-blog)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-clean-blog/blob/master/LICENSE)
 */

body {
  font-size: 20px;
  color: #212529;
  font-family: 'Lora', 'Times New Roman', serif;
  background: url("/bundles/markeddownblog/themes/basic/img/funky-lines.png") repeat;
}
body#post{
  background: url("/bundles/markeddownblog/themes/basic/img/funky-lines.png") repeat;
}
pre{
  background-color: #222;
  color: #dfdfdf;
  font-family: "Lucida Console", monospace, sans-serif;
  padding:1rem;
  font-size: .9rem;
}

p {
  line-height: 1.5;
  margin: 30px 0;
}

p a {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: #212529;
  transition: all 0.2s;
}
#post a {
  color: #a013a0;
}

a:focus, a:hover {
  color: #AE663C;
}

blockquote {
  font-style: italic;
  color: #868e96;
}

.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}

.caption {
  font-size: 14px;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

::-moz-selection {
  color: #fff;
  background: #0085A1;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #0085A1;
  text-shadow: none;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#mainNav {
  position: absolute;
  border-bottom: 1px solid #e9ecef;
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand {
  font-weight: 800;
  color: #343a40;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  font-weight: 800;
  padding: 13px;
  text-transform: uppercase;
  color: #343a40;
}

#mainNav .navbar-nav > li.nav-item > a {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media only screen and (min-width: 992px) {
  #mainNav {
    border-bottom: 1px solid transparent;
    background: transparent;
  }
  #mainNav .navbar-brand {
    padding: 10px 20px;
    color: #fff;
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.8);
  }
  #mainNav .navbar-nav > li.nav-item > a {
    padding: 10px 20px;
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
    color: rgba(255, 255, 255, 0.8);
  }
}

@media only screen and (min-width: 992px) {
  #mainNav {
    transition: background-color 0.2s;
    /* Force Hardware Acceleration in WebKit */
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
  }
  #mainNav.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -67px;
    transition: transform 0.2s;
    border-bottom: 1px solid white;
    background-color: rgba(255, 255, 255, 0.9);
  }
  #mainNav.is-fixed .navbar-brand {
    color: #212529;
  }
  #mainNav.is-fixed .navbar-brand:focus, #mainNav.is-fixed .navbar-brand:hover {
    color: #AE663C;
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a {
    color: #212529;
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus, #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
    color: #AE663C;
  }
  #mainNav.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    transform: translate3d(0, 100%, 0);
  }
}
header .masthead-image{
  width:100%;
  height:100%;
  background: no-repeat center center;
  background-attachment: scroll;
  background-size: cover;
  background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25));
  filter: sepia(100%) hue-rotate(230deg) saturate(3) brightness(.55);
  position: absolute;
  display: flex;
  align-items: center;
}
header.masthead {
  margin-bottom: 1rem;
  background: no-repeat center center;
  background-attachment: scroll;
  background-size: cover;
  background-color: #381607;

  position: relative;

}

body#post header#masthead.masthead {
  background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('/bundles/markeddownblog/themes/basic/img/crumpled_paper.jpg');
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  color: black;
  display: flex;
  align-items: center;
  max-height: 40vh;
  flex-wrap: wrap;
  min-height: 20rem;
  justify-content: center;
}

header.masthead .page-heading,
header.masthead .site-heading {
  text-align: center;
}
header.masthead .site-heading img,
header.masthead .post-heading img,
header .masthead-image img {
  position: absolute;
  left: 35%;
  width: 15rem;
  z-index: 0;
}
header .masthead-image img {
  left:42%;
}
#post-content img {
  display:block;
  max-width: 100%;
  margin: 1rem 0;
}
#post header.masthead {
  background-color: #392244;
}

header.masthead .site-heading img{
  filter: hue-rotate(171deg) drop-shadow(2px 2px 3px rgba(0,0,0,.2)) opacity(.5);
  align-self: center;
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
  font-size: 50px;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: currentcolor;
  -webkit-text-stroke-color: rgba(0,0,0,.15);
  text-shadow: 0 -3px 10px rgba(0,0,0,.25);
  z-index: 1;
  align-self: flex-end;
  margin-top: 3rem;
}
header.masthead .site-heading h1 {


}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#home .subheading{
  align-self: self-start;
  text-align: center;
  width: 100%;
  text-shadow: 2px 2px 3px rgba(0,0,0,.5);
  z-index: 1;
  margin-left:15rem;
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 80px;
  }
}

header.masthead .post-heading h1 {
  font-size: 35px;
  filter: brightness(92%);
}

header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
}

header.masthead .post-heading .subheading {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 30px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .post-heading .meta {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  font-family: 'Lora', 'Times New Roman', serif;
  float:right;
  padding-bottom:1rem;
}

header.masthead .post-heading .meta a {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  header.masthead .post-heading h1 {
    font-size: 55px;
  }
  header.masthead .post-heading .subheading {
    font-size: 30px;
  }
}
.post-preview, #post-content {
  background: white;
  padding: 2rem;
  margin: 1rem;
  border: 1px solid rgba(0,0,0,.05);
  border-radius: .5rem;
  position: relative;
}

.post-preview > a {
  color: #212529;
}

.post-preview > a:focus, .post-preview > a:hover {
  text-decoration: none;
  color: #AE663C;
}

.post-preview > a > .post-title {
  font-size: 30px;
}

.post-preview > a > .post-subtitle {
  font-weight: 300;
  margin: 0 0 1rem 2rem;
}

.post-preview > .post-meta {
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  color: #868e96;
  float:right;
}

.post-preview > .post-meta > a {
  text-decoration: none;
  color: #212529;
}

.post-preview > .post-meta > a:focus, .post-preview > .post-meta > a:hover {
  text-decoration: underline;
  color: #AE663C;
}

@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}

.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #dee2e6;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  font-size: 1.5em;
  position: relative;
  z-index: 1;
  padding: 0;
  resize: none;
  border: none;
  border-radius: 0;
  background: none;
  box-shadow: none !important;
  font-family: 'Lora', 'Times New Roman', serif;
}

.floating-label-form-group input::-webkit-input-placeholder,
.floating-label-form-group textarea::-webkit-input-placeholder {
  color: #868e96;
  font-family: 'Lora', 'Times New Roman', serif;
}

.floating-label-form-group label {
  font-size: 0.85em;
  line-height: 1.764705882em;
  position: relative;
  z-index: 0;
  top: 2em;
  display: block;
  margin: 0;
  transition: top 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.floating-label-form-group .help-block {
  margin: 15px 0;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #AE663C;
}

form .form-group:first-child .floating-label-form-group {
  border-top: 1px solid #dee2e6;
}

footer {
  padding: 50px 0 65px;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

footer .copyright {
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
}

.btn {
  font-size: 14px;
  font-weight: 800;
  padding: 15px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn-primary {
  background-color: #AE663C;
  border-color: #a55a2e;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #53230f !important;
  border-color: #381607!important;
}

.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}

.controls {
  text-align: center;
}
#post .controls a {
  background-color: #392244;
}
#post .controls a:hover{
  background-color: #A572A5!important;
  color: #392244!important;
}

/** Bootstrap4 imports **/
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  font-size:.9rem;
}
table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
table td, table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
table tbody tr:nth-of-type(2n+1) {
  background-color: rgba(0,0,0,.05);
}